Repository pvliesdonk/questfoundry-spec: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-schemas, validate-json-syntax, validate-envelope-examples, validate-prompts

validate-schemas:
  name: Validate Layer 3 and Layer 4 schemas (Draft 2020-12)
  entry: bash -c 'cd spec-tools && uv run qfspec-validate'
  language: system
  pass_filenames: false
  description: Ensure all Layer 3 and Layer 4 schemas are valid JSON Schema Draft 2020-12

validate-json-syntax:
  name: Validate JSON syntax
  entry: bash -c 'for file in "$@"; do python -m json.tool "$file" > /dev/null || exit 1; done' --
  language: system
  description: Validate that all JSON files have valid syntax

validate-envelope-examples:
  name: Validate Layer 4 envelope examples
  ...

validate-prompts:
  name: Validate Layer 5 prompts structure
  entry: bash -c 'if [ -f 05-prompts/tests/validate_prompts.py ]; then python 05-prompts/tests/validate_prompts.py; else echo "Prompt validation script not found, skipping..."; fi'
  language: system
  pass_filenames: false
  ...

feat: add hot_manifest.schema.json for Hot discovery state
  03-schemas/hot_manifest.schema.json
Due: validate-schemas, validate-json-syntax

feat: align Cold SoT schemas with Layers 0-2 and update Layer 5 prompts
  03-schemas/cold_manifest.schema.json
  03-schemas/hot_manifest.schema.json
  05-prompts/art_director/system_prompt.md
  05-prompts/book_binder/system_prompt.md
  05-prompts/gatekeeper/system_prompt.md
  05-prompts/illustrator/system_prompt.md
  05-prompts/showrunner/system_prompt.md
Due: validate-schemas, validate-json-syntax, validate-prompts

docs: update Layer 5 documentation with Cold SoT schemas
  05-prompts/USAGE_GUIDE.md
  05-prompts/upload_kits/README.md
  05-prompts/upload_kits/manifests/schemas.list
Due: validate-prompts

fix: reference schemas by canonical URL, no upload required
  05-prompts/USAGE_GUIDE.md
  05-prompts/art_director/system_prompt.md
  05-prompts/book_binder/system_prompt.md
  05-prompts/gatekeeper/system_prompt.md
  05-prompts/illustrator/system_prompt.md
  05-prompts/showrunner/system_prompt.md
  05-prompts/upload_kits/README.md
  05-prompts/upload_kits/manifests/schemas.list
Due: validate-prompts

chore: bump schema version to 0.2.0
  03-schemas/CHANGELOG.md
  03-schemas/SCHEMA_VERSION.txt
Due: none

feat: add loop-focused architecture with 13 executable playbooks
  05-prompts/loops/archive_snapshot.playbook.md
  05-prompts/loops/art_touch_up.playbook.md
  05-prompts/loops/audio_pass.playbook.md
  05-prompts/loops/binding_run.playbook.md
  05-prompts/loops/codex_expansion.playbook.md
  05-prompts/loops/examples/archive_snapshot_flow.json
  05-prompts/loops/examples/art_touch_up_flow.json
  05-prompts/loops/examples/audio_pass_flow.json
  05-prompts/loops/examples/binding_run_flow.json
  05-prompts/loops/examples/codex_expansion_flow.json
  05-prompts/loops/examples/gatecheck_flow.json
  05-prompts/loops/examples/hook_harvest_flow.json
  05-prompts/loops/examples/lore_deepening_flow.json
  05-prompts/loops/examples/narration_dry_run_flow.json
  05-prompts/loops/examples/post_mortem_flow.json
  05-prompts/loops/examples/story_spark_flow.json
  05-prompts/loops/examples/style_tune_up_flow.json
  05-prompts/loops/examples/translation_pass_flow.json
  05-prompts/loops/gatecheck.playbook.md
  05-prompts/loops/hook_harvest.playbook.md
  05-prompts/loops/lore_deepening.playbook.md
  05-prompts/loops/narration_dry_run.playbook.md
  05-prompts/loops/post_mortem.playbook.md
  05-prompts/loops/story_spark.playbook.md
  05-prompts/loops/style_tune_up.playbook.md
  05-prompts/loops/translation_pass.playbook.md
Due: validate-json-syntax, validate-prompts

feat: complete loop-focused architecture with dual-format strategy
  05-prompts/ARCHITECTURE.md
  05-prompts/README.md
  05-prompts/USAGE_GUIDE.md
  05-prompts/art_director/system_prompt.md
  05-prompts/audio_director/system_prompt.md
  05-prompts/audio_producer/system_prompt.md
  05-prompts/book_binder/system_prompt.md
  05-prompts/codex_curator/system_prompt.md
  05-prompts/gatekeeper/system_prompt.md
  05-prompts/illustrator/system_prompt.md
  05-prompts/lore_weaver/system_prompt.md
  05-prompts/player_narrator/system_prompt.md
  05-prompts/plotwright/system_prompt.md
  05-prompts/researcher/system_prompt.md
  05-prompts/role_adapters/art_director.adapter.md
  05-prompts/role_adapters/audio_director.adapter.md
  05-prompts/role_adapters/audio_producer.adapter.md
  05-prompts/role_adapters/book_binder.adapter.md
  05-prompts/role_adapters/codex_curator.adapter.md
  05-prompts/role_adapters/gatekeeper.adapter.md
  05-prompts/role_adapters/illustrator.adapter.md
  05-prompts/role_adapters/lore_weaver.adapter.md
  05-prompts/role_adapters/player_narrator.adapter.md
  05-prompts/role_adapters/plotwright.adapter.md
  05-prompts/role_adapters/researcher.adapter.md
  05-prompts/role_adapters/scene_smith.adapter.md
  05-prompts/role_adapters/showrunner.adapter.md
  05-prompts/role_adapters/style_lead.adapter.md
  05-prompts/role_adapters/translator.adapter.md
  05-prompts/scene_smith/system_prompt.md
  05-prompts/showrunner/initialization.md
  05-prompts/showrunner/loop_orchestration.md
  05-prompts/showrunner/manifest_management.md
  05-prompts/showrunner/protocol_handlers.md
  05-prompts/showrunner/system_prompt.md
  05-prompts/style_lead/system_prompt.md
  05-prompts/translator/system_prompt.md
Due: validate-prompts

docs: add acknowledgment of Claude/Anthropic collaboration
  README.md
  docs/index.html
Due: none

feat: formalize Post-Mortem loop across layers
  00-north-star/LOOPS/README.md
  00-north-star/LOOPS/post_mortem.md
  05-prompts/loops/post_mortem.playbook.md
Due: validate-prompts

feat: complete Layer 5 to 100%
  05-prompts/ARCHITECTURE.md
  05-prompts/loops/archive_snapshot.playbook.md
Due: validate-prompts

docs: update Layer 5 status to 100% and redesign upload kits
  05-prompts/upload_kits/README.md
  README.md
  docs/architecture.md
  docs/index.html
Due: validate-prompts

feat: complete Layers 0 and 1 to 100%
  00-north-star/PLAYBOOKS/playbook_binding_run.md
  00-north-star/PLAYBOOKS/playbook_full_production_run.md
  00-north-star/PLAYBOOKS/playbook_narration_dry_run.md
  00-north-star/PLAYBOOKS/playbook_post_mortem.md
  01-roles/README.md
  01-roles/briefs/audio_director.md
Due: none

docs: update Layers 0-1-5 to 100% completion status
  README.md
  docs/architecture.md
  docs/index.html
Due: none

docs: complete Layer 2 to 100%
  02-dictionary/README.md
  02-dictionary/artifacts/_BATCH_ENRICHMENT_NOTE.md
  02-dictionary/loop_names.md
  02-dictionary/role_abbreviations.md
  README.md
  docs/architecture.md
  docs/index.html
Due: none

chore: repository cleanup and documentation updates
  03-schemas/README.md
  ARCHIVE/README.md
  ARCHIVE/completed-audits/LAYER2_AUDIT_PHASE4.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/01-envelope.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/02-lifecycle-hooks-tu.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/03-lifecycle-gate-view.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/04-intents-v1.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/05-flows-hook-harvest-lore.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/06-flows-codex-gate-merge.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/07-flows-binding-pn-examples-conformance.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/08-align-envelope-docs-with-schema.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/09-tools-validate-layer4-envelopes.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/10-examples-envelope-suite-and-ci.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/11-update-intents-to-envelope-schema.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/12-update-flows-lifecycles-envelope-context.md
Due: none

docs(repo): add version control guidelines and protocol changelog
  04-protocol/CHANGELOG.md
  CONTRIBUTING.md
Due: none

protocol: release protocol-v1.0.0 (Layer 4 complete to 100%)
  04-protocol/CHANGELOG.md
  04-protocol/README.md
  README.md
  docs/architecture.md
  docs/index.html
Due: none

protocol: align version to v0.2.1 and add GitHub Pages publishing
  .github/workflows/deploy-to-pages.yml
  .github/workflows/publish-protocol.yml
  04-protocol/CHANGELOG.md
  04-protocol/README.md
Due: none

chore: remove conflicting deploy-schemas-to-pages workflow
  .github/workflows/deploy-schemas-to-pages.yml
Due: none

docs: add GitHub workflows deployment documentation
  GITHUB_WORKFLOWS.md
Due: none

fix: preserve existing docs/ website in Pages deployment
  .github/workflows/deploy-to-pages.yml
Due: none

docs: document critical Pages deployment fix
  GITHUB_WORKFLOWS.md
Due: none

fix: regenerate index files instead of preserving outdated ones
  .github/workflows/deploy-to-pages.yml
Due: none

fix: align upload_kit with loop-focused architecture from 428140c
  05-prompts/USAGE_GUIDE.md
  05-prompts/upload_kits/README.md
  05-prompts/upload_kits/manifests/full-standalone.list
  05-prompts/upload_kits/manifests/gemini-full-standalone-1.list
  05-prompts/upload_kits/manifests/gemini-full-standalone-2.list
  05-prompts/upload_kits/manifests/gemini-full-standalone-3.list
  05-prompts/upload_kits/manifests/gemini-orchestration-1-foundation.list
  05-prompts/upload_kits/manifests/gemini-orchestration-2-playbooks.list
  05-prompts/upload_kits/manifests/gemini-orchestration-3-playbooks-extra.list
  05-prompts/upload_kits/manifests/gemini-orchestration-4-adapters-core.list
  05-prompts/upload_kits/manifests/gemini-orchestration-5-adapters-extra.list
  05-prompts/upload_kits/manifests/orchestration-complete.list
  spec-tools/src/questfoundry_spec_tools/upload_kits.py
Due: validate-prompts

feat: add versioning and GitHub releases for Layer 5 prompts
  .github/workflows/publish-prompts.yml
  05-prompts/CHANGELOG.md
  05-prompts/PROMPTS_VERSION.txt
Due: validate-prompts

docs: enrich CHANGELOG.md with details from commits a300224, 428140c, 426f2b9
  05-prompts/CHANGELOG.md
Due: validate-prompts

docs: comprehensive website overhaul with versioning and repos
  docs/index.html
Due: none

docs: add post-mortem on schema enforcement and validation contracts
  docs/post_mortems/2025-11-06_schema_enforcement_and_validation_contracts.md
Due: none

docs: add validation enforcement implementation plan and update USAGE_GUIDE
  05-prompts/USAGE_GUIDE.md
  docs/post_mortems/2025-11-06_validation_enforcement_implementation_plan.md
Due: validate-prompts

feat: implement schema validation enforcement for Layer 5 prompts
  05-prompts/SCHEMA_INDEX.json
  05-prompts/_shared/validation_contract.md
  05-prompts/upload_kits/manifests/chatgpt_minimal.list
  05-prompts/upload_kits/manifests/full-standalone.list
  05-prompts/upload_kits/manifests/gemini-full-standalone-1.list
  05-prompts/upload_kits/manifests/gemini-orchestration-1-foundation.list
  05-prompts/upload_kits/manifests/gemini_core_zip.list
  05-prompts/upload_kits/manifests/orchestration-complete.list
  spec-tools/pyproject.toml
  spec-tools/src/questfoundry_spec_tools/generate_schema_index.py
  spec-tools/src/questfoundry_spec_tools/upload_kits.py
Due: validate-json-syntax, validate-prompts

feat: add validation sections to all 15 Layer 5 role prompts (Phase 2)
  05-prompts/art_director/system_prompt.md
  05-prompts/audio_director/system_prompt.md
  05-prompts/audio_producer/system_prompt.md
  05-prompts/book_binder/system_prompt.md
  05-prompts/codex_curator/system_prompt.md
  05-prompts/gatekeeper/system_prompt.md
  05-prompts/illustrator/system_prompt.md
  05-prompts/lore_weaver/system_prompt.md
  05-prompts/player_narrator/system_prompt.md
  05-prompts/plotwright/system_prompt.md
  05-prompts/researcher/system_prompt.md
  05-prompts/scene_smith/system_prompt.md
  05-prompts/showrunner/system_prompt.md
  05-prompts/style_lead/system_prompt.md
  05-prompts/translator/system_prompt.md
Due: validate-prompts

feat: add validation requirements to all 13 loop playbooks (Phase 3)
  05-prompts/loops/archive_snapshot.playbook.md
  05-prompts/loops/art_touch_up.playbook.md
  05-prompts/loops/audio_pass.playbook.md
  05-prompts/loops/binding_run.playbook.md
  05-prompts/loops/codex_expansion.playbook.md
  05-prompts/loops/gatecheck.playbook.md
  05-prompts/loops/hook_harvest.playbook.md
  05-prompts/loops/lore_deepening.playbook.md
  05-prompts/loops/narration_dry_run.playbook.md
  05-prompts/loops/post_mortem.playbook.md
  05-prompts/loops/story_spark.playbook.md
  05-prompts/loops/style_tune_up.playbook.md
  05-prompts/loops/translation_pass.playbook.md
Due: validate-prompts

feat: complete validation enforcement (Phase 4-5) and release v0.2.0
  05-prompts/CHANGELOG.md
  05-prompts/PROMPTS_VERSION.txt
  05-prompts/gatekeeper/system_prompt.md
  05-prompts/upload_kits/README.md
Due: validate-prompts

docs: update website with prompts v0.2.0 release
  docs/index.html
Due: none

docs: add Epic 7 implementation updates for loop-focused architecture
  06-libraries/EPIC_7_UPDATES.md
Due: none

docs: add Showrunner-controlled orchestration to Epic 7/8
  06-libraries/EPIC_7_8_REVISED.md
Due: none

docs: add two-tier context architecture and loop stabilization
  06-libraries/EPIC_7_8_REVISED.md
Due: none

docs: revise Epic 7 & 8 for hardcoded loop architecture
  06-libraries/EPIC_7_8_REVISED.md
  06-libraries/IMPLEMENTATION_PLAN.md
Due: none

docs: analyze Layer 7 CLI impacts from Epic 7/8 architecture
  07-ui/LAYER_7_UPDATES_FOR_EPIC_7_8.md
Due: none

feat: add Canon Transfer and World Genesis workflows
  00-north-star/CANON_WORKFLOWS.md
  00-north-star/LOOPS/README.md
  00-north-star/LOOPS/canon_transfer_export.md
  00-north-star/LOOPS/canon_transfer_import.md
  00-north-star/LOOPS/world_genesis.md
  02-dictionary/artifacts/canon_transfer_package.md
  02-dictionary/artifacts/world_genesis_manifest.md
Due: none

Path conditions:
  validate-schemas: any of: ^(03-schemas|04-protocol)/.*\.schema\.json$
  validate-json-syntax: any of: \.json$
  validate-envelope-examples: any of: ^04-protocol/EXAMPLES/.*\.json$
  validate-prompts: any of: ^05-prompts/.*\.(md|py)$
