Repository pvliesdonk/questfoundry-spec: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-schemas, validate-json-syntax, validate-envelope-examples, validate-prompts

.pre-commit-config.yaml:

# Pre-commit hooks for QuestFoundry
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Prettier - Auto-format JSON and Markdown files
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: Format with Prettier (JSON, Markdown)
        types_or: [json, markdown]
        args:
          - --config=spec-tools/.prettierrc.json
          - --ignore-path=spec-tools/.prettierignore
          - --write
        description: Auto-format JSON and Markdown files using Prettier

  # Markdownlint - Lint Markdown files (lenient, won't fail)
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        name: Lint Markdown files
        args:
          - --config=spec-tools/.markdownlint.json
          - --fix
        description: Lint and auto-fix Markdown files (lenient)
        # Note: Some rules may not auto-fix, manual review may be needed
        verbose: true

  # JSON Schema Validation - Validate all schemas
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Layer 3 and Layer 4 schemas (Draft 2020-12)
        entry: bash -c 'cd spec-tools && uv run qfspec-validate'
        language: system
        files: ^(03-schemas|04-protocol)/.*\.schema\.json$
        pass_filenames: false
        description: Ensure all Layer 3 and Layer 4 schemas are valid JSON Schema Draft 2020-12

      # JSON Syntax Validation - Basic JSON parsing check
      - id: validate-json-syntax
        name: Validate JSON syntax
        entry: bash -c 'for file in "$@"; do python -m json.tool "$file" > /dev/null || exit 1; done' --
        language: system
        types: [json]
        description: Validate that all JSON files have valid syntax

      # Validate envelope examples (if present)
      - id: validate-envelope-examples
        name: Validate Layer 4 envelope examples
        entry: bash -c 'if [ -d 04-protocol/EXAMPLES ] && [ "$(ls -A 04-protocol/EXAMPLES/*.json 2>/dev/null)" ]; then cd spec-tools && for file in ../04-protocol/EXAMPLES/*.json; do echo "Validating $file..." && uv run qfspec-check-envelope "$file" || exit 1; done; else echo "No envelope examples found, skipping..."; fi'
        language: system
        files: ^04-protocol/EXAMPLES/.*\.json$
        pass_filenames: false
        description: Validate envelope examples against envelope.schema.json and Layer 3 payload schemas

      # Validate prompt structure (if test script exists)
      - id: validate-prompts
        name: Validate Layer 5 prompts structure
        entry: bash -c 'if [ -f 05-prompts/tests/validate_prompts.py ]; then python 05-prompts/tests/validate_prompts.py; else echo "Prompt validation script not found, skipping..."; fi'
        language: system
        files: ^05-prompts/.*\.(md|py)$
        pass_filenames: false
        description: Validate Layer 5 prompt structure and completeness

  # Trailing whitespace and file endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Remove trailing whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        name: Ensure files end with newline
      - id: mixed-line-ending
        name: Normalize line endings to LF
        args: [--fix=lf]
      - id: check-yaml
        name: Validate YAML files
        exclude: ^\.pre-commit-config\.yaml$
      - id: check-added-large-files
        name: Check for large files
        args: [--maxkb=1000]
      - id: check-merge-conflict
        name: Check for merge conflict markers
      - id: check-case-conflict
        name: Check for case conflicts

refactor: merge canon workflows into WORKING_MODEL.md
  00-north-star/CANON_WORKFLOWS.md
  00-north-star/LOOPS/canon_transfer_export.md
  00-north-star/LOOPS/canon_transfer_import.md
  00-north-star/LOOPS/world_genesis.md
  00-north-star/WORKING_MODEL.md
  02-dictionary/artifacts/canon_transfer_package.md
  02-dictionary/artifacts/world_genesis_manifest.md
Due: none

feat: add Layer 3-5 implementations for canon workflows
  00-north-star/PLAYBOOKS/README.md
  00-north-star/PLAYBOOKS/playbook_canon_transfer_export.md
  00-north-star/PLAYBOOKS/playbook_canon_transfer_import.md
  00-north-star/PLAYBOOKS/playbook_world_genesis.md
  03-schemas/canon_transfer_package.schema.json
  03-schemas/world_genesis_manifest.schema.json
  04-protocol/INTENTS.md
Due: validate-schemas, validate-json-syntax

docs: add Layer 6/7 implementation impact guide for canon workflows
  00-north-star/LAYER6_7_CANON_IMPACT.md
Due: none

fix: address remaining PR #42 review feedback
  00-north-star/LAYER6_7_CANON_IMPACT.md
  00-north-star/LOOPS/canon_transfer_export.md
  00-north-star/LOOPS/canon_transfer_import.md
  00-north-star/LOOPS/world_genesis.md
  00-north-star/WORKING_MODEL.md
  02-dictionary/artifacts/canon_transfer_package.md
  02-dictionary/artifacts/world_genesis_manifest.md
Due: none

chore: release schemas v0.3.0 and protocol v0.3.0
  03-schemas/CHANGELOG.md
  04-protocol/CHANGELOG.md
Due: none

chore: release prompts v0.3.0
  05-prompts/CHANGELOG.md
  05-prompts/SCHEMA_INDEX.json
Due: validate-json-syntax, validate-prompts

fix: prettier formatting and update PROMPTS_VERSION to 0.3.0
  00-north-star/LOOPS/canon_transfer_export.md
  00-north-star/LOOPS/canon_transfer_import.md
  00-north-star/LOOPS/world_genesis.md
  03-schemas/CHANGELOG.md
  05-prompts/PROMPTS_VERSION.txt
  05-prompts/SCHEMA_INDEX.json
Due: validate-json-syntax

fix: correct validate_prompts.py module path and workflow command
  .github/workflows/validate.yml
  05-prompts/tests/validate_prompts.py
Due: validate-prompts

fix: resolve envelope validation errors in loop examples
  04-protocol/envelope.schema.json
  05-prompts/loops/examples/archive_snapshot_flow.json
  05-prompts/loops/examples/art_touch_up_flow.json
  05-prompts/loops/examples/audio_pass_flow.json
  05-prompts/loops/examples/binding_run_flow.json
  05-prompts/loops/examples/codex_expansion_flow.json
  05-prompts/loops/examples/gatecheck_flow.json
  05-prompts/loops/examples/hook_harvest_flow.json
  05-prompts/loops/examples/lore_deepening_flow.json
  05-prompts/loops/examples/narration_dry_run_flow.json
  05-prompts/loops/examples/post_mortem_flow.json
  05-prompts/loops/examples/story_spark_flow.json
  05-prompts/loops/examples/style_tune_up_flow.json
  05-prompts/loops/examples/translation_pass_flow.json
  05-prompts/tests/validate_prompts.py
Due: validate-schemas, validate-json-syntax, validate-prompts

fix: enforce layer consistency and correct broadcast pattern
  00-north-star/LOOPS/README.md
  00-north-star/LOOPS/canon_transfer_export.md
  00-north-star/LOOPS/canon_transfer_import.md
  00-north-star/LOOPS/world_genesis.md
  04-protocol/FLOWS/codex_expansion.md
  04-protocol/FLOWS/gatecheck.md
  04-protocol/FLOWS/hook_harvest.md
  04-protocol/FLOWS/lore_deepening.md
  04-protocol/envelope.schema.json
  05-prompts/loops/examples/archive_snapshot_flow.json
  05-prompts/loops/examples/art_touch_up_flow.json
  05-prompts/loops/examples/audio_pass_flow.json
  05-prompts/loops/examples/binding_run_flow.json
  05-prompts/loops/examples/codex_expansion_flow.json
  05-prompts/loops/examples/gatecheck_flow.json
  05-prompts/loops/examples/hook_harvest_flow.json
  05-prompts/loops/examples/lore_deepening_flow.json
  05-prompts/loops/examples/narration_dry_run_flow.json
  05-prompts/loops/examples/post_mortem_flow.json
  05-prompts/loops/examples/story_spark_flow.json
  05-prompts/loops/examples/style_tune_up_flow.json
  05-prompts/loops/examples/translation_pass_flow.json
Due: validate-schemas, validate-json-syntax

fix: prettier formatting on LOOPS/README.md
  00-north-star/LOOPS/README.md
Due: none

docs: update LAYER6_7_CANON_IMPACT.md to reflect canon workflows as patterns
  00-north-star/LAYER6_7_CANON_IMPACT.md
Due: none

chore: old document cleanup
  06-libraries/EPIC_7_8_REVISED.md
  06-libraries/EPIC_7_UPDATES.md
  06-libraries/IMPLEMENTATION_PLAN.md
  06-libraries/README.md
  07-ui/IMPLEMENTATION_PLAN.md
  07-ui/LAYER_7_UPDATES_FOR_EPIC_7_8.md
  07-ui/README.md
  ARCHIVE/README.md
  ARCHIVE/completed-audits/LAYER2_AUDIT_PHASE4.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/01-envelope.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/02-lifecycle-hooks-tu.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/03-lifecycle-gate-view.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/04-intents-v1.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/05-flows-hook-harvest-lore.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/06-flows-codex-gate-merge.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/07-flows-binding-pn-examples-conformance.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/08-align-envelope-docs-with-schema.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/09-tools-validate-layer4-envelopes.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/10-examples-envelope-suite-and-ci.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/11-update-intents-to-envelope-schema.md
  ARCHIVE/completed-issues/04-protocol-issue-drafts/12-update-flows-lifecycles-envelope-context.md
  BATCH_ENRICHMENT_TRACKER.md
  DECISIONS/ADR-20251029-01-layer-boundary-clarification.md
  DECISIONS/ADR_TEMPLATE.md
  DECISIONS/README.md
  ENRICHMENT_SUMMARY.md
  IMPLEMENTATION_ROADMAP.md
  LAYER1_CORRECTIONS.md
  LAYER2_PLAN.md
  LAYER4_PLAN.md
  LAYERS_5-7_VISION.md
  MIGRATION_CHECKLIST.md
  PHASE3_ENRICHMENT_PLAN.md
  PHASE3_FINAL_SUMMARY.md
  PHASE3_STATUS.md
Due: none

chore: further cleanup, agents.md
  .claude/settings.local.json
  AGENTS.md
  GITHUB_WORKFLOWS.md
Due: validate-json-syntax

fix: address code review issues (phases 1-3)
  00-north-star/ROLE_INDEX.md
  00-north-star/WORKING_MODEL.md
  01-roles/charters/showrunner.md
  02-dictionary/README.md
  02-dictionary/artifacts/README.md
  05-prompts/README.md
  05-prompts/ROLE_MATRIX.md
  05-prompts/USAGE_GUIDE.md
  README.md
Due: validate-prompts

fix: address code review issues (phase 4 - structural fixes)
  00-north-star/SPOILER_HYGIENE.md
  01-roles/charters/codex_curator.md
  03-schemas/README.md
  04-protocol/INTENTS.md
  04-protocol/README.md
Due: none

docs: update AGENTS.md for spec repository
  AGENTS.md
Due: none

docs(spec-tools): add AGENTS.md with Python coding guidelines
  spec-tools/AGENTS.md
Due: none

chore: format all markdown files with prettier
  00-north-star/ROLE_INDEX.md
  01-roles/charters/showrunner.md
  03-schemas/README.md
  05-prompts/README.md
  05-prompts/ROLE_MATRIX.md
  AGENTS.md
  spec-tools/AGENTS.md
Due: validate-prompts

fix(docs): correct schema and loop counts per PR #43 review
  03-schemas/README.md
  README.md
Due: none

feat(showrunner): implement customer intent routing
  05-prompts/showrunner/intent_handlers/customer.intent.dispatch.md
  05-prompts/showrunner/system_prompt.md
Due: validate-prompts

refactor(showrunner): replace vestigial human.question with formal protocols
  05-prompts/showrunner/intent_handlers/human.question.md
  05-prompts/showrunner/system_prompt.md
Due: validate-prompts

chore: format all markdown files with prettier
  05-prompts/showrunner/intent_handlers/customer.intent.dispatch.md
  05-prompts/showrunner/system_prompt.md
Due: validate-prompts

fix(showrunner): address PR #44 review comments - protocol alignment
  05-prompts/_shared/human_interaction.md
  05-prompts/showrunner/intent_handlers/customer.intent.dispatch.md
  05-prompts/showrunner/system_prompt.md
Due: validate-prompts
